{% extends 'base.html' %}
{% block content %}
<h2>This is the form to enter DAILY mileage goals.</h2>
<form id="daily-miles-form" method="post">
    <p>This is week {{ curr_week.num }} and you will run {{ curr_week.mileage_target }} miles. Enter your mileage goals for each day this week:</p>
    <ul>    
        {% for day in one_week %}
            <li>Day {{ day }}: <input type="number" name="{{ day }}" placeholder="enter number of miles" value="{{ day.mileage_target }}"></li>
        {% endfor %}
    </ul>
    <button type="submit">Submit</button>
</form>
{% endblock%}