{% extends 'base.html' %}
{% block content %}

<div class="bg-color">
<div class="container foreground">
    <h2 class="mb-3">Log in to your account</h2>
    <form id="login-form" method="POST">
        {{form.hidden_tag()}}
        <div class="form-group">
       
        {% for field in form if field.widget.input_type != 'hidden' %}
        <p>
            {{field.label}}
            {{field (class_="form-control", size=32)}}
        
            {% for error in field.errors %}
            {{error}}
            {% endfor %}
        </p>
        {% endfor %}    
        <button type="submit" class="login btn rounded-pill btn-light">Login</button>
        </div>
    </form>
    <p>Don't have an account? <a href="/register">Register now!</a></p>
</div>
</div>


{% endblock%}