{% extends 'base.html' %}
{% block content %}
<h2>{{ user.username }}'s Marathon Training Plan</h2>
<!-- <p>Total Miles Completed: {{ user.total_miles_completed }}</p>
<p>Miles Remaining in My Plan: </p> -->
<p>Total Weeks to Train: {{ user.num_weeks }}</p>
<h3>Select a week to add or edit daily mileage goals:</h3>

<h4>Mileage By Week:</h4>
    <ul>
    {% for week in my_weeks %}
        <p><a href="/weekly-view/{{week.num}}">Week:{{ week.num }}</a></p>
        <div class="week" id="week-{{week.num}}">
            {% for day in my_days %}
                {% if day.week == week.num %}
                <div class="day" id="{{ day.id }}"> Day: {{ day.num }} --- {{ day.mileage_target }} miles</div> 
                {% endif %}                              
            {% endfor %}
        </div>
        <p>Total miles this week: {{ week.mileage_target }}</p>
    {% endfor %}
    </ul>

<ul>Mileage By Day:
    {% for day in my_days %}
        <li>Day: {{ day.num }} --- {{ day.mileage_target }} miles</li>
    {% endfor %}
</ul>

{% endblock%}