{% extends 'base.html' %}
{% block content %}

<div class="container-fluid my-bg">
    <h2 class="heading">{{ user.username }}'s Marathon Training Plan</h2>
    <a href="/daily-miles-form">Add mileage goals for this week</a>
    <a href="/weekly-view/{{curr_week.num}}/edit">Edit mileage goals for this week</a>
    
    <p>Details for week #{{ curr_week.num }}</p>
    
    <!-- <ul>Mileage By Day:
        {% for day in my_days %}
            <li>Day {{ day.num }}:  Run {{ day.mileage_target}} miles</li>
        {% endfor %}
    </ul> -->
    <div class="container-fluid">
        <div class="row">
            {% for day in my_days %}
                <div class="col- card">
                    <div class="card-header">
                        Day {{ day.num }}
                    </div>
                    <div class="card-body">
                        {% if day.mileage_target == 0.0 %}
                        <p style="height: 1rem" class="rest-day">🧘 REST DAY</p>
                        {% else %}
                        {{ day.mileage_target }} miles
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    
    <p>Total miles to run this week: {{ curr_week.mileage_target }}</p>
    <p>Miles completed this week: {{ curr_week.miles_completed }}</p>
    <p>Miles remaining this week: {{ curr_week.mileage_target - curr_week.miles_completed }}</p>
    
    
    <a href="/my-training-plan">Back to Training Plan</a>
</div>




{% endblock%}