{% extends 'base.html' %}
{% block content %}
<h2>My weekly mileage goals</h2>
<form id="weekly-miles-form" method="post">
    <p>Your training plan is {{ num_weeks }} weeks long. Now let's set up your weekly mileage targets:</p>
    <ul>    

            <li>Week {{ week }}:     {{form.hidden_tag()}}
                {% for field in form if field.widget.input_type != 'hidden' %}
                <p>
                    {{field.label}}
                    {{field}}
                    {% for error in field.errors %}
                    {{error}}
                    {% endfor %}
                </p>
                {% endfor %}</li>

    </ul>
    <button type="submit">Submit</button>
</form>
{% endblock%}